@font-face {
  font-family: 'Quantum';
  src: url('/style/Quantum_Font.otf') format('opentype');
}
 
body {
  font-family: 'Quantum', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 150vh;
  flex-direction: row;
  align-items: center;
  line-height: 1.5;
}

.left {
  width: 50%;
  padding: 20px;
  font-size: 30px;
  background-color: #1f2833;
  color: #c5c6c7;
  box-sizing: border-box;
  position: fixed;
  top: 50px;
  left: 0;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  color: #1f2833;
  background-color: #c5c6c7;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  height: 100%;
  position: fixed;
  right: 0;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scroll-arrow {
  position: fixed;
  bottom: 20px;
  left: 75%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 50;
}

.nav {
  width: 100%;
  z-index: 1000;
}

@media (max-width: 768px) {
  .container {
    height: calc(100vh - 100px);
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-top: 20px;
  }
  .left {
    background-color: white;
    padding: 0px;
    color: #1f2833;
    position: relative;
    width: 100%;
    height: 0px;
  }
  .right {
    position: fixed;
    width: 100%;
    padding: 0 20px;
    top: 145px;
    height: calc(100% - 145px);
  }
  h1 {
    position: fixed;
    margin-top: 80px;
    text-align: center;
  }
  #scroll-arrow {
    display: none;
  }
}
