@font-face {
  font-family: "Yantramanav";
  src: url("/style/Quantum_Font.ttf");
}

@font-face {
  font-family: "Archivo Black";
  src: url("/style/header.ttf");
}

.header_font{
  font-family: "Archivo Black", sans-serif;
}

body {
  font-family: "Yantramanav", sans-serif;
}

.background-div {
  display: flex;
  justify-content: center;
  height: 50em;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url("/assets/benefits/benefits-1.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  position: relative;
  transform-origin: bottom;
  opacity: 1;
}

.header-text {
  align-items: center;
  color: white;
  font-size: 140px;
  position: relative;
  padding-top: 10%;
}

@keyframes header-image-animation {
  25% {
    opacity: 1;
  }
  85%,
  100% {
    opacity: 0;
    scale: 3;
  }
}

/* Apply animation only on screens wider than 768px */
@media only screen and (min-width: 769px) {
  .background-div {
    animation: header-image-animation linear forwards;
    animation-timeline: view();
    animation-range: exit;
  }

  .header-text {
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;
  }
}

/* For mobile screens */
@media only screen and (max-width: 768px) {
  .background-div {
    background-image: url("/assets/benefits/benefits-1.jpg"); /* Ensure background image is shown on mobile */
    animation: none; /* Disable animation on mobile */
  }

  .header-text {
    opacity: 1; /* Ensure header text is visible on mobile */
  }
}

.slide1 {
  width: 100px;
  height: 200px;
  background-color: blue;
  animation: slideAnimation 2s infinite alternate;
}
@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}

/* will have to modify max-width for mobile */
.column {
  max-width: 30%;
  padding: 4%;
}

.vertical-line {
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 0;
  width: 0.1%; /* Adjust thickness as needed */
  background-color: black; /* Adjust color as needed */
}

/* === Google Font Import - Poppins === */
/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quantum', sans-serif;
}

.review {
  position: relative;
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #0b0c10;
}

.swiper {
  width: 950px;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  height: 400px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

section .card .image {
  height: 140px;
  width: 140px;
  border-radius: 20%;
  padding: 3px;
  background: #48607e;
  margin-top: 30px;
}

section .card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20%;
  border: 3px solid #fff;
}

.card .media-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card .media-icons i {
  color: #1f2833;
  opacity: 0.6;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 10px;
}

.card .media-icons i:hover {
  opacity: 1;
}

.card .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: black;
}

.name-profession .name {
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession {
  font-size: 15px;
  font-weight: 500;
}

.card .rating {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 12px;
}

.card .rating i {
  font-size: 18px;
  margin: 0 2px;
  color: #537094;
}

.card .button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.swiper-pagination {
  position: absolute;
  padding-top: 34px;
}

.swiper-pagination-bullet {
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: white;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  color: #66fcf1;
  transition: all 0.3s ease;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  color: #66fcf1;
}

/* carousel */
.carouselExampleCaptions {
  width: 50%;
  height: 50%;
}
/* Existing CSS */

/* Responsive Design for Columns */
@media (max-width: 768px) {
  .header-text {
    font-size: 80px;
    padding-top: 60%;
    text-align: center;
  }
  #arrow {
    display: none;
  }
}
