@font-face {
  font-family: "Yantramanav";
  src: url("/style/Quantum_Font.ttf");
}

@font-face {
  font-family: "Archivo Black";
  src: url("/style/header.ttf");
}

.header_font{
  font-family: "Archivo Black", sans-serif;
}

body {
  font-family: "Yantramanav", sans-serif;
  background-image: url("/assets/formBackground.png");
  background-size: cover;
}

.custom-form-width {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 50%;
}

.custom-form-width h2 {
  color: white;
  margin-bottom: 20px;
}

.custom-form-width .mb-3 label {
  color: white;
  font-weight: 600;
}

.custom-form-width .mb-3 input,
.custom-form-width .mb-3 textarea {
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
}

.custom-form-width .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  padding: 10px 20px;
}

.custom-form-width .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.custom-form-width .container {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  border-radius: 10px;
  padding: 20px;
}

@media (max-width: 1000px) {
  .custom-form-width {
    width: 100%;
  }
  .custom-form-width h2 {
    font-size: 40px;
  }
  .custom-form-width .mb-3 label {
    font-size: 20px;
  }
}
