.container {
    display: flex;
    width: 100vw;
}

.sidebar {
    width: 200px;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.job-results {
    flex: 1;
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

#full-time {
    margin-right: 5px;
}

#filter-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.job-results h2 {
    margin-bottom: 20px;
}
