@keyframes pulse {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.shadow {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.job_card {
  max-height: 250px;
  min-width: 600px;
  max-width: 600px;
}

#arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 50px;
}

.sidebar {
  width: 200px;
  padding: 20px;
  border-right: 1px solid #ddd;
}

h2 {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.noneFound {
  font-size: 72px;
  background: -webkit-linear-gradient(#92ccdd, #ffc2cb);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}





.background-div {
  display: flex;
  justify-content: center;
  height: 50em;
  background-image: url("/assets/benefits/benefit-1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  transform-origin: bottom;
}

.header-text {
  align-items: center;
  color: white;
  font-size: 140px;
  position: relative;
  padding-top: 25%;
}

@keyframes header-image-animation {
  25% {opacity: 1;}
  85%, 100% {opacity: 0; scale: 3}
}

/* Apply animation only on screens wider than 768px */
@media only screen and (min-width: 769px) {
  .background-div {
    animation: header-image-animation linear forwards;
    animation-timeline: view();
    animation-range: exit;
  }

  .header-text {
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;
  }
}

/* For mobile screens */
@media only screen and (max-width: 768px) {
  .background-div {
    background-image: url("/assets/benefits/benefit-1.jpg"); /* Ensure background image is shown on mobile */
    animation: none; /* Disable animation on mobile */
  }

  .header-text {
    opacity: 1; /* Ensure header text is visible on mobile */
  }
}











.slide1 {
  width: 100px;
  height:200px;
  background-color: blue;
  animation: slideAnimation 2s infinite alternate;

}
@keyframes slideAnimation {
  0% { transform: translateX(0); }
  100% { transform: translateX(100px); } /* Adjust as needed */
}

.container{
  justify-content: center;
}

/*the values grid*/

.values {
  padding: 80px 0; 
}
